.about_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background:#1a0038;
}
.about_section .about_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.about_section .about_image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 90%;
}